@mixin aspect-break {
  @media (min-aspect-ratio: 1/1) {
    @content;
  }
}

.hero {
  width: 100%;
  text-align: center;
  @include aspect-break {
    position: relative;
    height: 100vh;
    background: url('../img/humble-fire-roof.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
}

.hero-logo {
  @include aspect-break {
    position: absolute;
    top: 0;
    z-index: 1;
  }
  svg {
    width: 100%;
    height: auto;
    path {
      fill: $gold;
    }
  }
}

.hero-image {
  position: relative;
  float: left;
  margin-bottom: $body-line-height;
  @include aspect-break {
    position: initial;
  }
  img {
    float: left;
    width: 100%;
    @include aspect-break {
      display: none;
    }
  }
}

.hero-photo-credit {
  position: absolute;
  right: 0;
  transform-origin: 100% 0;
  transform: rotate(-90deg) translate(0, -100%);
  padding: 0 $grid-padding;
  font-size: (3/5) * 1em;
  @include aspect-break {
    bottom: 0;
    transform: initial;
    z-index: 1;
  }
}

.hero-content {
  width: 100%;
  @include aspect-break {
    position: absolute;
    bottom: 0;
    padding: $body-line-height 0;
    background-color: $white-overlay;
  }
}

.hero-link {
  .hero-title & {
    font-weight: $font-weight-bold;
  }
}

.hero-title {
  font-size: 2em;
  line-height: 1.5 * $body-line-height;
}

.hero-down {
  display: none;
  @include aspect-break {
    display: inline;
  }
}

.hero-down-text {
  font-style: italic;
  &:hover {
    bottom-border: none;
  }
}

.hero-down-icon {
  font-family: 'FontAwesome';
  &:before {
    content: '\f078';
  }
  .hero-down:hover &:before {
    content: '\f13a';
  }
}
