@mixin header($scale-factor) {
  $header-font-size: $body-font-size * $scale-factor;
  font-size: $header-font-size;
  line-height: ceil($header-font-size/$body-line-height);
}

@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i');



html {
  font-size: 125%;
}

body {
  font-family: $font-family-sans-serif;
  font-size: $body-font-size;
  line-height: $body-line-height;
  color: $black;
}

h1, h2, h3, ul, p, iframe, .fluid-width-video-wrapper, form {
  margin: 0 0 $body-line-height 0;
}

h1, h2, h3 {
  font-weight: $font-weight-normal;
  text-transform: uppercase;
  padding-top: $body-line-height;
}

h2 {
  @include header(1.5);
}

h3 {
  font-size: 2.4rem;
  line-height: 1.25;
}

.underline {
  border-bottom: 1px solid $gold;
}

input {
  height: $body-line-height;
  border: 1px solid $gold;
  font-family: $font-family-sans-serif;
  text-transform: uppercase;
  &[type="text"] {
    padding-left: 1em;
  }
  &[type="submit"] {
    padding: 0;
    background: $gold;
    color: $black;
    font-weight: $font-weight-bold;
    text-align: center;
  }
}

blockquote {
  &:before {
    content: '\201c';
    font-size: 2em;
    color: $gold;
    position: absolute;
    display: block;
    left: -$body-line-height;
  }
  position: relative;
  margin: 0 $body-line-height $body-line-height;
  p {
    font-style: italic;
  }
  footer {
    margin-top: -$body-line-height;
  }
  cite {
    font-style: normal;
    &:before {
      content: '\2014';
      color: $gold;
    }
  }
}
